{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
<h1>Всего новостей на странице {{ news|length }}</h1>
<br>
<br>

{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
<form action="" method="get">
    {{ filterset.form.non_field_errors }}
    {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
    {{ filterset.form.as_p }}
    {# Добавим кнопку отправки данных формы #}
    <input type="submit" class="mt-3 btn-primary" value="Найти" />
</form>

<hr>

{% if news %}
    {% for post in news %}
        <h2>{{ post.postTitle|censor }}</h2>
        <h3>{{ post.dateCreation|date:'d.m.Y' }}</h3>
        <h3>{{ post.postText|truncatechars:20|censor }}</h3>
        <br>
        <br>
    {% endfor %}
{% else %}
    <h2>Пока нет новостей :(</h2>
{% endif %}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}